.accordion .card-header {
  cursor: pointer;
}

.accordion .card-body.top-card-body {
  padding: 0 0 0 20px;
}

.accordion .card-body .card,
.accordion .card-body .card-header {
  border-radius: 0;
}
